@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilos para el calendario */
.react-calendar{
  margin-bottom: 1.5rem !important;
  box-shadow: 0px 8px 11px 2px rgba(0,0,0,0.2) !important;
}

.ReactModal__Content{
  overflow-y: hidden;
}

/* Estilos para la barra de scroll */
.ReactModal__Content::-webkit-scrollbar {
  width: 10px; 
}

.ReactModal__Content::-webkit-scrollbar-thumb {
  background: transparent; 
  border-radius: 15px;
  height: 1rem;
}

/* Para Firefox */
.ReactModal__Content {
  scrollbar-width:calc(15px) ;
  scrollbar-color: transparent;
}

